# OS / IDE
.DS_Store
Thumbs.db
.idea/
*.iml

# Android / Gradle
**/.gradle/
**/build/
**/local.properties
**/.cxx/
**/.externalNativeBuild/
**/captures/
*.apk
*.aab

# Arduino
*.hex
*.bin
*.elf
*.map
*.eep
*.lst
*.o
*.d
*.a
*.tmp

# Misc
*.log
